  .main {
    height: 100vh;
  }
  
  .title h1 {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 300;
    position: relative;
  }
  
  .title h2 {
    text-align: center;
    font-size: .7vw;
    font-weight: 50;
    position: relative; 
    margin: 1vw;
  }

  .info {
    font-size: .7vw;
    font-weight: 50;
    position: relative; 
  }

  .box {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 2vw;
    position: relative;
    width: 20vw;  
    /*take out margin after - just to move template out of way of edge of screen */
    margin-right: auto; 
    margin-left: auto;
    vertical-align: middle;
  }

  .images {
    position: relative; 
    z-index: -1;
  }

  .img {
    max-width: 15vw;
    max-height: 15vw;
    margin-left: auto; 
    margin-right: auto;
    padding: 5px; 
    display: block;
    
  }

  .button {
    font-size: .5vw;
  }

  .button1 {
    color: rgb(0, 0, 0);
    font-size: .5vw;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 10px; 
    padding: .2vw;
  }

  .buttonSet {
    display: block;
    text-align: center;
    font-size: .5vw;
  }

  
  


