.postPreview {
  margin: 0vh 1vw 1vh;
  padding: 0vh 1.5vw 2vh;
}

.postInfo {
  padding: 1vh 0vw 0vh;
}

  .name {
    font-size: 1.5vw;
  }

  .price {
    font-size: 1.25vw;
  }

  .seller {
    font-size: 1.25vw;
  }