.postPreview {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vh; 
  margin-bottom: 1vh;
  padding: 2vh 2vw;
  border: 1px solid black;
}

.name {
  text-align: center;
  font-size: 1vw;
}

.info {
  text-align: center;
  font-size: 1vw;
  font-weight: 400;
}

.images {
  position: relative; 
  z-index: -1;
}

.img {
  max-width: 15vw;
  max-height: 15vw;
  margin-left: auto; 
  margin-right: auto;
  padding: 5px; 
  display: block;
  
}
 

  
  


