.header {
    display: flex;
    align-items: center;

    height: 20vh;
    width: 100vw;

    padding: 0vw 1vw;
    background-color: var(--navy);
}

.footer {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100vw;

    padding: 0vw 1vw;
    background-color: var(--navy);
}