.header {
    display: flex;
    align-items: baseline;

    position: relative;
    height: 20vh;
    width: 100vw;

    padding: 0vw 3vw;
    background-color: var(--navy);
    background-image: linear-gradient(to right, var(--navy) 50%, var(--blue) 90%);
}

.title {
    display: flex;
    align-items: center;

    width: 55vw;
    height: 20vh;
}

.name {
    width: calc(55vw - 18vh);
    color: whitesmoke;
}

    .name h1 {
        font-size: 4vw;
        font-weight: 600;
    }

    .name h2 {
        font-size: 3vw;
        font-weight: 350;
    }

.header input {
    height: 3vh;
    width: 25vw;
    padding: 1vh;
}

.account {
    position: absolute;
    bottom: 2vh;
    right: 3vw;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100vw;

    padding: 0vw 1vw;
    background-color: var(--navy);
    background-image: linear-gradient(to right, var(--gold) 5%, var(--blue) 45%, var(--blue) 47%, var(--navy) 91%);
}