:root {
  --navy: #182B49;
  --blue: #00629B;
  --yellow: #FFCD00;
  --gold: #C69214;
  --sand: rgb(245, 240, 230);
  --navyRGB: 24, 43, 73;
  --blueRGB: 0, 98, 155;
  --sandRGB: 245, 240, 230;
  --orange: 252, 137, 0;

  background-color: var(--navy);
}

@media (prefers-color-scheme: dark) {
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  position: relative;

  min-height: 100vh;
}

section {
  min-height: 75vh;
  width: 100vw;

  background-color: var(--sand);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 20vh;
  width: 100vw;

  padding: 0vw 3vw;
  background-color: var(--navy);
  background-image: linear-gradient(to right, var(--navy) 50%, var(--blue) 90%);
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;

  padding: 0vw 2vw;
  background-color: var(--navy);
  background-image: linear-gradient(to right, var(--gold) 5%, var(--blue) 45%, var(--blue) 47%, var(--navy) 91%);
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}
