:root {
  --navy: #182B49;
  --blue: #00629B;
  --yellow: #FFCD00;
  --gold: #C69214;
  --sand: #F5F0E6;
  --sandRGB: 245, 240, 230;
  --orangeRGB: 252, 137, 0;

  background-color: var(--sand);
}

@media (prefers-color-scheme: dark) {
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  
}

a {
  
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}
