.main {
  height: 100vh;
}

.backgroundImage {
  z-index: -1;
}

  .header {
    height: 40vh;

    padding: 5vh 0vw;
  }

    .title {
      display: flex;

      width: 80vw;
      height: 35vh;
      margin: 0vh 10vw;
    }

      /* 
      title logo (js inline):
      width: 20vw
      height: 20vw
      */

      .name {
        width: 60vw;
        padding: 3vw 0vw;

        line-height: 6vw;
      }

        .name h1 {
          font-size: 5.75vw;
          font-weight: 700;
        }

        .name h2 {
          font-size: 4.5vw;
          font-weight: 450;
        }

  .body {
    height: 60vh;

    padding: 2.5vh 0vw 12.5vh;
  }

    .account {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      width: 60vw;
      height: 45vh;
      margin: 0vh 20vw 0vh;

      border-radius: 120px 30px;
      background-color: #F5F0E6e1;
    }

    .account input {
      width: 100%;
      height: 4vh;

      margin: 0.5vh 0vw;
      padding: 4px;
    }

    .account input[type=text]:focus, .account input[type=password]:focus {
      outline-style: none;
      border: 2px solid #FFCD00;
    }

    .account input[type=submit], .account input[type=button] {
      background-color: #00629B;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 1.3vw;
    }

      .login {
        width: 38vw;
        height: inherit;
      }

        .loginPrompt {
          display: flex;
          flex-direction: column;
          justify-content: center;

          height: 35vh;
          margin: 5vh 6vw;
        }

          .loginPrompt h1 {
            font-weight: 400;
            font-size: 2.5vw;
          }

          .loginPrompt h2 {
            font-weight: 700;
            font-size: 1.75vw;
          }

      .signUp {
        width: 22vw;
        height: inherit;

        border-radius: 3px 30px 120px 3px;
        background-color: #FC8900d1;
      }

        .signUpPrompt {
          display: flex;
          flex-direction: column;
          justify-content: center;

          height: 35vh;
          margin: 5vh 3vw;
        }

          .signUpPrompt h1{
            font-weight: 700;
            font-size: 2.5vw;
          }

          .signUpPrompt h2{
            font-weight: 350;
            font-size: 1.45vw;
          }

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

/* Mobile */
@media (max-width: 700px) {
  
}

@media (prefers-color-scheme: dark) {
  
}


