.main {
  height: 100vh;
}

.backgroundImage {
  z-index: -1;
}

.header {
  display: flex;

  width: 80vw;
  margin: 0vw 10vw; 
  padding: 4vw 0vw;
}

.title {
  width: 60vw;
  padding: 3vw 0vw;

  line-height: 6vw;
}

.title h1 {
  font-size: 5.5vw;
  font-weight: 800;
}

.title h2 {
  font-size: 4vw;
  font-weight: 500;
}

.account {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 70vw;
  height: 40vh;
  margin: 0vh 15vw;

  border-radius: 30px 120px 30px 120px;
  background-color: #F5F0E6e1;
}

.login {
  width: 60%;
  height: 100%;
}

.loginPrompt {
  padding: 5% 15%;
}

.loginPrompt h1 {
  font-weight: 400;
}

.loginPrompt h2 {
  font-weight: 700;
}

.loginForm {
  
}

.signUp {
  width: 40%;
  height: 100%;

  border-radius: 3px 120px 30px 3px;
  background-color: #FC8900d1;
}

.signUpPrompt {

}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}


