
.main {
  background-color: white;
  }


.title {
    text-align: left;
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
  }

.title1 {
  text-align: left;
  font-size: 3vw;
  font-weight: 300;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vh;
}

.img {
    width: 15vw;
    margin-left: 2vh;
    margin-top: 2vh;
}

.postPreviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top{
  display: flex;
}

.button{
  background-color: rgba(114, 122, 122, 0.7);
  color: white;
  border: 0px;
  padding: 1vw;
  font-size: 2vw;
  border-radius: 1vw;
  height: 10vh;
  margin-left: 1vw;
  margin-right: 1vw;
  opacity: .7;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(114, 122, 122, 0.7);
  color: white;
  border: 0px;
  padding: 1vw;
  font-size: 2vw;
  border-radius: 1vw;
  height: 10vh;
  margin-left: 1vw;
  margin-right: 1vw;
  opacity: 1;
  text-decoration: none;
}

.button1{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.popup{
  display: flex;
  flex-direction: column;
  background-color: rgb(147, 144, 144);
  padding: 10vw;
}

.button2{
  text-align: center;
  background-color: rgba(114, 122, 122, 0.7);
  color: white;
  border: 0px;
  padding-top: .5vw;
  padding-bottom: .5vw;
  font-size: 1vw;
  border-radius: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  opacity: .7;
  text-decoration: none;
}

