.body {
    display: flex;

    height: 70vh;
    width: 100vw;

    background-color: var(--sand);
}

.accountInfo {
    min-height: 70vh;
    width: 30vw;

    border-right: 1px solid var(--gold);
}

.posts {

}

.livePosts {
    display: flex;
}