
.main{
  height: 100vh;
  background-color: white;
}

.popup{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    border-width: 0px;
    border-radius: 1vw 1vw;
    background-color: #F5F0E6;

  }

.title{
  font-size: 1.3vw;
  margin-top: 1vw;
  margin-bottom: .5vw;
  color: rgb(70, 65, 65);
  font-weight: 300;
}

.title1{
  font-size: 1.5vw;
  margin-bottom: 2vw;
  color: rgb(70, 65, 65);
  font-weight: 500;
}

  .popup1{
    display: flex; 
    justify-content: center;
  }

  .button{
    background-color: rgba(241, 44, 44, 0.7);
    color: rgb(255, 255, 255);
    border: 0px;
    font-size: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1vw;
    opacity: .7;
    text-decoration: none;
    display: inline-block;
    margin: 3vw;
  }
  

  .button2{
    text-align: center;
    background-color: rgba(114, 122, 122, 0.7);
    color: white;
    border: 0px;
    font-size: 1.2vw;
    opacity: .7;
    text-decoration: none;
    margin-top: 1vw;
    padding: 1vw;
    border-radius: 1.5vw;
  }

  .submit{
    display: flex; 
    justify-content: center;
  }

  .input{
    width: 30vw;
  }

 
