.body {
  position: relative;
}

  .createPost {
    padding: 4vh 5vw 0vh;
  }

  .createPost a {
    display: block;

    position: absolute;
    top: 3vh;
    right: 3vw;
    height: 2.5vw;
    width: 2.5vw;

    color: var(--gold);
  }

  .title {
    font-size: 2.2vw;
  }

    /* form */
    .formHalf {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      width: 45vw;
      padding: 4vh 3vw;
    }

      .formHalf label {
        font-size: 1.4vw;
        line-height: 4vh;
      }

      .formHalf input, .formHalf textarea {
        padding: 0.75vh 1vw;

        resize: vertical;
        font: inherit;
      }

      .formHalf select {
        padding: 1vh 0.75vw;

        font-size: 1.2vw;
      }

      .formHalf input[type='submit'] {
        border: 1px solid var(--yellow);
        border-radius: 5px;
        background-color: var(--gold);
        
        font-size: 1.4vw;
        color: whitesmoke;
      }